{% extends "base.html" %}

{% block content %}

<h2>Resumen de consumo por zona</h2>
<h2>Total zonas: {{ zonas_totales }}</h2>
<p>Total dispositivos generales: {{ dispositivos_totales }}</p>

<ul>
    {% for zona in zonas %}
        <li>
            <strong>{{ zona.nombre }}</strong> — Límite: {{ zona.limite_kwh }} kWh 
            | Consumo Total: {{ zona.consumo_total }} kWh 
            | Estado: <strong>{{ zona.estado }}</strong>
        </li>
    {% empty %}
        <li>No existen zonas disponibles.</li>
    {% endfor %}
</ul>

{% endblock %}  